//FONTS

$manrope: 'Manrope', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

//size

//COLOR
$white: #fff;
$black: #000;
$silver: #6C6E70;
$cyan: #96dae3;
$watermelon: #f1635f;