.profile {
    padding-top: 2rem;
    padding-bottom: .5rem;

    &__image {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__name {
        margin-right: 2rem;
    }
    &__title {
        font-size: 1.3rem;
        font-weight: $bold;
        padding-bottom: .5rem;
    }

    &__followers {
        color: $silver;
        font-weight: $light;
        font-size: .9rem;
    }

    &__button {
        margin-left: auto;
    }
}


@media (max-width: 576px) {
    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}